<h1>{{title}}</h1>
<p>Welcome to {{ title }}</p>
<!-- Needed for post request -->
<form action="test/submit" method="post">
  <input type="text" name="id">
  <button type="submit" name="button">Submit</button>
</form>
