<br>
<h2>Listings</h2>
    <div class="row">
        {{# each items }}
        <div class="col-sm-3" style="margin-top:20px">
          <img src="" class="card-img-top" alt="..." style="height:10vw;">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title" name="title">{{ this.title }}</h5>
              <p class="card-text" name="description">{{ this.description }}</p>
              <a name="price">Price: ${{ this.price }}</a>
              <p class="card-text" name="datePostedComputed">Date Posted: {{ this.datePostedComputed }}</p>
              <a class="btn btn-warning">Contact</a>
            </div>
          </div>
        </div>
        {{/each}}      
    </div>
