<br>
<h3>Start Selling</h3>
    <form action="/sell/insert" method="post" enctype="multipart/form-data">
      <table>
        <tr class="input">
          <td align="right">
            <label for="title">Title</label>
          </td>
          <td align="left">
            <input type="text" name="first" />
          </td>
        </tr>
        <tr class="input">
          <td align="right">
            <label for="content">Price</label>
          </td>
          <td align="left">
            <input type="number" id="price" name="price">
          </td>
        </tr>
        <tr class="input">
          <td align="right">
            <label for="author">Description</label>
          </td>
          <td align="left">
            <input type="text" id="description" name="description">
          </td>
        </tr>
        <tr class="input">
          <td align="right">
            <label for="image">Image</label>
          </td>
          <td align="left">
            <input type="file" id="image" name="image">
          </td>
        </tr>
      </table>
        <button class="btn btn-primary" type="submit">Start Selling</button>
    </form>
