<br>
<h3>Start Selling</h3>
    <form action="/sell/insert" method="post" enctype="multipart/form-data">

        <!-- Title Input -->
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input type="textf" id="title" name="title">
          </div>
        </div>
        
        <!-- Price Input -->
        <div class="form-group row">
          <label for="content" class="col-sm-2 col-form-label">Price</label>
          <div class="col-sm-10">
            <input type="number" id="price" name="price">
          </div>
        </div>
        
        <!-- Item Description Input -->
        <div class="form-group row">
          <label for="author" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input type="text" id="description" name="description">
          </div>
        </div>
        
        <!-- Image Input -->
        <div class="form-group row">
          <label for="image" class="col-sm-2 col-form-label">Image</label>
          <div class="col-sm-10">
            <input type="file" id="image" name="image">
          </div>
        </div>
        
        <!-- Condition Dropdown -->
        <div class="form-group row">
          <label for="condition" class="col-sm-2 col-form-label">Book Condition</label>
          <div class="col-sm-5">
            <select class="form-control" id="condition" name="condition">
              <option value="new">New</option>
              <option value="used-vg">Used - Very Good</option>
              <option value="used-gd">Used - Good</option>
              <option value="used-ac">Used - Acceptable</option>
            </select>
          </div>
        </div>
        <!-- Book Type Dropdown -->
        <div class="form-group row">
          <label for="booktype" class="col-sm-2 col-form-label">Book Type</label>
          <div class="col-sm-5">
            <select class="form-control" id="booktype" name="booktype">
              <option value="textbook">Textbook</option>
              <option value="course-rr">Required Course Reading (non-textbook)</option>
              <option value="other">Other (non-textbook)</option>
            </select>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Start Selling</button>
    </form>
