a {
  font: 25px "Lucida Grande";
  color: white;
}
a.dropdown-item{
  font: 18px "Lucida Grande";
}

#icon{
  color: white;
  font-size: 30px;
  margin-right:10px
}
#sellButton{
  margin-right:15px;
}
